body { 
  margin: 0;
  font-family: sans-serif;
  /* background: lightGray; */
}

#App {
  display: flex;
  flex-direction: column;
  width: 1200px;
  margin: 0 auto;
}

.welcome {
  margin: 50px auto;
  text-transform: uppercase;
}

.Search-Bar {
  display: flex;
  margin: auto;
  width: 500px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);  
}

.Search-Bar > * {
  border: 1px solid gray;
  padding: 5px 10px;
  background: inherit;
}

.Search-Bar input {
  width: 100%;
  height: 25px;
  border-right: none;
}

.Search-Bar button {
  text-transform: uppercase;
}

.User-badge {
  width: 488px;
  height: 100px;
  margin: 20px auto;
  display: flex;
  padding: 5px;
  border: 1px solid lightGray;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.User-badge .avatar {
  max-height: 100%;
  width: auto;
  border-radius: 5px;
}

.user-stats {
  padding: 5px 10px;
}

.user-stats > * {
  margin: 0 0 5px;
}

.user-stats .username{
  font-style: italic;
}

.repo-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.repo-container h2 {
  flex: 100%;
  text-align: center;
  margin-bottom: 0;
  text-transform: uppercase;
}

.repo-card {
  width: 450px;
  min-height: 100px;
  border: 1px solid lightgray;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  margin: 20px;
  padding: 10px;
}

.repo-card p, .repo-container a {
  margin: 5px 0 10px;
}

.repo-card span {
  margin-right: 20px;
}

.repo-card .title {
  font-weight: bold;
  margin-bottom: 30px;
}

.repo-card .description {
  min-height: 50px;
  margin-bottom: 20px;
  font-size: .9rem;
}

.repo-card .url {
  display: block;
  margin-bottom: 5px;
}